p {
    color: blue;
}
ol {
    list-style-type: square;
}
ol li {
    padding-top: 20px;
    border: 1px solid blue;
}

#abc {
    color: red;
}
.button {
    border: 1px solid blue;;
}
.button-large {
    font-size: large;
    font-weight: bold;
}
.button-primary {
    background-color: blue;
    color: white;
}
#test {
    background-color: red;;
}